@import "../../_globalColor";

.main {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  h1 {
    display: inline-block;
    // padding-left: 3rem;
  }
}

.skills-main-div {

  .skills-image-div {
    // width: 100%;
    margin: 0 50px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;

  .skills-text-div {
    > * {
      display: inline-block;
      word-break: break-all;
    }
    margin: 0 50px;
    .icon-box {
      display: inline-flex;
      flex-direction: column;
      background-color: cornsilk;
      border-radius: 1rem;
      .icons {
        margin: 5px;
        display: flex;
        img {
          margin: 5px;
        }
      }
    }
  }
}


.skills-heading {
  font-size: 56px;
  font-weight: 400;
}
.subTitle {
  color: $subTitle;
}

// /* Media Query */
// @media (max-width: 1380px) {
//   .skills-heading {
//     font-size: 40px;
//   }
// }
// @media (max-width: 768px) {
//   .skills-heading {
//     font-size: 30px;
//     text-align: center;
//   }
//   .greeting-text-p {
//     font-size: 16px;
//     line-height: normal;
//   }
//   .skills-main-div {
//     flex-direction: column;
//   }
//   .skills-text-div {
//     margin-left: 0px;
//     margin: 20px;
//   }
//   .skills-text {
//     font-size: 16px;
//   }
//   .skills-text-subtitle {
//     font-size: 16px;
//     text-align: center;
//   }
//   .skills-image-div {
//     /* display: none; */
//     order: 2;
//   }
// }
